@{
    ViewBag.Title = "Login";
}

@section featured {

<section id="loginForm" style="text-align:center;">
    </br>
<h2>use trello account to login</h2>
    </br>

    <div>
        <p id="UserName">Username : 
        <input name="username" id="username" type="text" value="" data-val="true">
        <input type="button" onclick="login();" value="Login">
        </p>
        </br>
        <p>
            <a href="http://www.trello.com">Register</a> (If you have no trello accounts)
        </p>
    </div>

</section>

}